:root {

	/* palette  de couleurs*/
	--couleur-beige: #FFF8F0;
	/*sert de blanc*/
	--couleur-gris-bleu: #f5f5f5;
	--couleur-blanc-bleu: #f9f9f9;
	--couleur-gris-transparent: rgb(235, 235, 235, 0.8);

	--couleur-bleu: #0456AF;
	--couleur-noir: #1F0812;


}

header{
    display: flex;
    width: 100vw;
    height: 125px;
    justify-content: center;
    align-items: center;
    
    background-color: var(--couleur-beige);


}

.header__content{
    display: flex;
    width: 90%;
    justify-content: space-between;
}

.logo{
    width: 80px;
    height: auto;
}

.logo--center{
    display: flex;
    justify-content: center;
}

.logo--padding{
    padding: 50px;
}

.nav{
    display: flex;
    align-items: center;
}

.nav__btn{
    padding: 1.5rem;
}

.nav__btn--padding-right{
    padding-right: 1.5rem;
}

.nav__icon{
    scale: 0.75;
    position: relative;
    top: 10px;
}

.landing{
    display: flex;
    justify-content: center;
    height: 36.8vw;
    padding-top: 0px;
    width: 100%;
}

.landing__banner-image{
    width: 100%;
    height: auto;
    position: absolute;
    z-index: -10;
}

.landing__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;

    gap: 25px;
    
}

.landing__title{
    color: beige;
}

.landing__text{
    color: beige;
    width: 50%;
    text-align: center;
}

section{
    padding-top: 50px;
    padding-bottom: 50px;
}

.card{
    display: flex;
    justify-content: center;
    padding: 25px;
}

.card__contenu{
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: 35%;
}

.card__data{
    display: flex;
}

.card__data--padding-right{ /*attention BEM*/
    padding-right: 75px;
}

.card__btn{
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
}

iframe {
    width: 38%;
    height: 500px;
    border: 0px none;

}

footer{
    border-top: 1px solid black;
}

.footer__nav{
    display: flex;
    justify-content: center;
}

.subfooter{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 25px;

        & img{
        width: 30px;
        padding: 10px;
    }
}

.subfooter__icones{
    justify-self: center;
}

.subfooter__contact{
    display: flex;
    justify-self: end;
    align-items: center;
}
