:root {
	/* palette  de couleurs*/
	--couleur-beige: #FFF8F0;
	--couleur-gris-bleu: #f7f7ff; /*mise à jour 2025-08-21*/
	--couleur-blanc-bleu: #f9f9f9;
	--couleur-gris-transparent: rgb(235, 235, 235, 0.8);
	--couleur-bleu: #0456AF;
	--couleur-noir: #1F0812;


}

h1,h2,h3 {
    font-family: "Bebas Neue";
}

p, ul{
    font-family: "Inter";
}

.skip-link{
    border: 0;
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
    &:focus{
        background-color: #eee;
        clip-path: none;
        color: #444;
        display: block;
        font-size: 1em;
        height: auto;
        left: 5px;
        line-height: normal;
        padding: 15px 23px 14px;
        text-decoration: none;
        top: 5px;
        width: auto;
        z-index: 100000;
    }
}



.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px
}
header{
    display: flex;
    width: 100vw;
    height: 125px;
    justify-content: center;
    align-items: center;
    background-color: var(--couleur-beige);
}
.header__content{
    display: flex;
    width: 90%;
    justify-content: space-between;
    background-color: var(--couleur-beige);
}
.header__logo{
    width: 80px;
    height: auto;
}
.header__nav-btn{
    padding-right: 1.5rem;
}
.header__nav-icon{
    scale: 0.75;
    position: relative;
    top: 10px;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
main{
    background-color: var(--couleur-gris-bleu);
    &[data-type="confirmation"]{
    padding: 25px;
    min-height: 50vh;
    }
}
.landing{
    display: flex;
    justify-content: center;
    height: 36.8vw;
    padding-top: 0px;
}
.landing__banner-image{
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 0;
}

.banner__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner{
    position: relative;
    height: 35vw;
}

.banner__text{
    position: absolute;
    top: 25%;
    width: 100%;
    text-align: center;
    color: var(--couleur-blanc-bleu);
    font-size: 2vw;
	font-family: "Bebas Neue";
	text-shadow:
		0 0 5px #000000,
		0 0 10px #000000,
		0 0 25px #000000;
    animation: banner__text 2.25s;
    background-color: rgba(0, 0, 0, 0.329);
    
}
    @keyframes banner__text {
        0%      {transform: translateY(0px);}
        25%     {transform: translateY(-20px);}
        50%     {transform: translateY(10px);}
        75%     {transform: translateY(-5px)}
        90%     {transform: translateY(3px);}
        100%    {transform: translateY(0px);}
    }
    

.landing__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    gap: 25px;
    z-index: 10;
}
.landing__title{
    color: var(--couleur-blanc-bleu);
    font-size: 200%;
	font-family: "Bebas Neue";
	text-shadow:
		0 0 5px #000000,
		0 0 10px #000000,
		0 0 25px #000000;
    background-color: rgba(0, 0, 0, 0.29);
}
.landing__text{
    color: var(--couleur-blanc-bleu);
	font-family: "Bebas Neue";
    font-size: 115%;
	text-shadow:
		0 0 5px #000000,
		0 0 10px #000000,
		0 0 5px #000000;
    width: 80%;
    text-align: center;
    margin: 5px;
    background-color: #0000001f;
}

.form__btn{
    margin: 25px;
    padding: 15px;
	color: #FFF8F0;
	background-color: #0456AF;
	border-radius: 15px;
}
.form__btn:hover {
    text-decoration: underline;
}
.form__input{
    padding: 5px;
    border-radius: 5px;
    max-height: 25px;
}
.form__container-btn{
    display: flex;
    justify-content: center;
}

/*Formulaire page soumission*/

.formulaire-demande{
    padding-bottom: 25px;
}
.formulaire-demande__field{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}
.formulaire-demande__submit {
    padding: 10px;
    background-color: #0456AF;
    color: white;
    border: none;
    &:hover {
        background-color: #04458a;
    }
}

/*Page de confirmation*/
.confirmation__btn-retour{     /*variables*/
    display: inline-block;
    margin-top: 25px;
    padding: 15px;
	color: #FFF8F0;
	background-color: #0456AF;
	border-radius: 15px;
}
.card{
    display: flex;
    justify-content: center;
    padding: 25px;
    background-color: var(--couleur-gris-bleu);
}
.card__contenu{
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: 35%;
}
.card__data{
    display: flex;
}
.card__data-item{
    border: solid 1px #000000;
    padding-right: 10px;
    padding-left: 10px;

    &.card__data-item--padding-right {
    margin-right: 75px;
    }
}

.card__value{
    font-size: 2rem;
    margin-bottom: 15px;
    margin-top: 15px;
}
.card__btn{
    margin-right: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 15px;
    font-size: 150%;
	text-decoration: none;
	color: #FFF8F0;
	background-color: #0456AF;
	width: fit-content;
	border-radius: 20px;
}

/* Page soumission */
.card-why-us{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2vw;
    justify-items: center;
    padding: 1vw;

    .card-why-us__item:nth-child(odd){  /*Sélecteur CSS avancé. mettre & ou pas..regarder cours?*/ 
        background-color: #E6E6EE;
    }
    .card-why-us__item[data-type^="reverse-border"] { /*Utiliser pour les produits à la une*/
        border: solid #ACACE1;
    }
}
.card-why-us__item{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: e5e5f9;
    border: solid #D3D3E7;
    border-radius: 25px;
    padding: 25px;
    height: 20vw;

    & p,h3 {  /* mettre une ","  ou faire une 2e imbrication?               erreur?*/
        text-align: center;
    }
    & ul li::marker {
        content:"- ";
    }
    & ul {
        align-self: flex-start;
    }
    &:hover {
        transform: scale(1.10);
        transition: transform 1.75s;
        /* animation: background-color 2s alternate; */
    }
    & img {
        width: 90%;
    }
}

    @media screen and (max-width: 900px) {
    .card-why-us{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 25px;
    }

    .card-why-us[data-type="section-travailler-avec-nous"]{
        grid-template-rows: 1fr 1fr 0.1fr;
    }

    }
    .card-why-us__item{
        height: auto;
    }
    .card-why-us__item img{
        display: none;
    }



    /*
    @keyframes background-color {
        0%      {background-color: #9a29291b;}
        50%     {background-color: #8d81811b;}
        100%    {background-color: #0000001b;}
    }
    */

.expertise{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2vw;
    justify-items: center;
    padding: 1vw;
    & .expertise__image[data-type^="colone-3"]{      /*Renommer*/
        grid-column: 2/4;
        grid-row: 1/3;
        height: 100%;
        object-fit: cover;
    }
}
.expertise__image {   /*peut etre imbriqué?*/
    width: 100%;
    height: auto;
    }
iframe {
    width: 38%;
    height: 500px;
    border: 0px none;
}
footer{
    border-top: 1px solid black;
    background-color: var(--couleur-beige);

}
.footer__logo{
    width: 80px;
    height: auto;
    padding: 50px;
}
.footer__container-logo{
    display: flex;
    justify-content: center;
}
.footer__nav{
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
}
.footer__link{
    padding: 1.5rem;
}
.footer__nav-group{
    display: flex;
}
.subfooter{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    padding: 10px;
    border-top: #1f08122c solid 1px;
    background-color: var(--couleur-beige);
}
.subfooter__socials{
    display: flex;
    justify-content: center;
}
.subfooter__icone{
    width: 30px;
    padding: 10px;
}
.subfooter__contact-list {
    display: flex;
    justify-self: end;
}
.subfooter__contact{
    display: flex;
    align-items: center;
}

@media screen and (max-width:1080px) {

    .landing__content{
        scale: 0.85;
        width: 90%;
        gap: 0px;
    }
    .card{
        flex-direction: column;
        align-items: center;
    }
    .card__contenu{
        width: 60%;
        padding: 25px;
    }
    .card__data-item{
        font-size: 3vw;
    }
    iframe {
        width: 75%;
        height: 500px;
    }
    .subfooter__socials{
        scale: 0.75;
    }
    .footer__nav{
        scale: 0.85;
    }
    .subfooter__contact{
        scale:0.85;
    }
}

@media screen and (max-width:825px) {
    .form{
        display: flex;
        align-items: center;
    }
    .form__btn{
        margin: 10px;
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 15px;
        color: #FFF8F0;
        background-color: #0456AF;
        border-radius: 20px;
    }
    .landing__content{
        scale: 0.70;
    }
    .card__data-item{
        font-size: 4vw;
    }
    .footer__nav-group{
        flex-direction: column;
    }
    .footer__nav{
        justify-content: space-between;
    }
    .subfooter__contact-list {
        flex-direction: column;
    }
    .subfooter__socials {
        flex-direction: column;
        align-items: center;
    }
}