header{
    display: flex;
    width: 100%;
    height: 125px;
    justify-content: center;
    align-items: center;
}

.header__content{
    display: flex;
    width: 90%;
    justify-content: space-between;
}

.logo{
    width: 80px;
    height: auto;
}

.nav{
    display: flex;
    align-items: center;
}

.nav__btn{
    padding-right: 1.5rem;
}

.nav__icon{
    scale: 0.75;
    position: relative;
    top: 10px;
}

.landing{
    display: flex;
    justify-content: center;
    height: 80vh;
}

.landing__banner-image{
    width: 100%;
    height: auto;
    position: absolute;
    z-index: -10;
}

.landing__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.landing__title{
    color: beige;
}

.landing__text{
    color: beige;
    width: 50%;
}

.section-prinicipale{

}

.section-prinicipale__image-tableau{
    width: 35%;
}